<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "pregunta 1",
    "acceptedAnswer": {
      "@type": "¿Qué antigüedades compran?",
      "text": "<p>Compramos múltiples objetos, entre ellos: Cuadros, figuras (de bronce, mármol, entre otros materiales), relojes pulsera, relojes de bolsillo, relojes de bronce, porcelana, platería, plaqué antiguo, joyas, violines antiguos, cellos, etc. Compramos todo tipo de objetos coleccionables.</p>"
    }
  }]
}
</script>