
<h2 class="categories__title">
    Categorías de antigüedades populares
</h2>
<div class="popular__categories-container">
{% for collection in collections limit: 4 %}
    {% comment %} when shop page is ready, write a <a> tag to the category {% endcomment %}
        <div class="category__individual">  
            <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}" class="category__img">
            <h3 class="category__title">
                {{ collection.title }}
            </h3>
            <button class="category__btn button">Ir a la categoría</button>
        </div>
    {% endfor %}
</div>


{% schema %}
{
    "name": "Popular Categories",
    "tag": "section",
    "class": "categories__container",
    "settings": [

    ]
}
{% endschema %}