<div class="filter__btn-container">
    <button class="filter__btn button">Filtrar</button>
</div>

{% comment %} <div class="filters">

</div> {% endcomment %}

{% schema %}
{
    "name": "Filter",
    "tag": "section",
    "class": "filter__container",
    "settings": [

    ]
}
{% endschema %}