<main class="main">
    <section class="home__container">
        <img src="{{section.settings.hero | img_url: 'master'}}" alt="home-image" class="home__img">
        <section class="home__info">
            <span class="home__title">PORCELANA</span>
            <p class="home__p">Descubre nuestra porcelana exclusivamente seleccionada</p>
            <button class="home__btn button" id="home-btn">Ir a porcelana</button>
        </section>
    </section>
</main>

{% schema %}
{
    "name": "Main",
    "tag": "section",
    "class": "main",
    "settings": [
        {
            "type": "image_picker",
            "id": "hero",
            "label": "Hero"
        }
    ]
}
{% endschema %}