<div class="team__title-container">
    <h3 class="team__title">Equipo</h3>
</div>

<div class="team__all-members-container">
    <div class="team__individual-member-container">
        <div class="team__img-container">
            <img src="{{ settings.team__member-img-1 | img_url: 'master' }}" class="team__img" alt="Imagen de miembro del equipo" loading="lazy" decoding=“async”>
        </div>

        <div class="team__desc-container">
            <span class="team__member-name">Oscar Orellana</span>
            <span class="team__member-role">Anticuario</span>
            <p class="team__member-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
            </p>
        </div>
    </div>

    <div class="team__individual-member-container">
        <div class="team__img-container">
            <img src="{{ settings.team__member-img-2 | img_url: 'master' }}" class="team__img" alt="Imagen de miembro del equipo" loading="lazy" decoding=“async”>
        </div>

        <div class="team__desc-container">
            <span class="team__member-name">María Soledad</span>
            <span class="team__member-role">Anticuaria</span>
            <p class="team__member-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
            </p>
        </div>
    </div>

    <div class="team__individual-member-container">
        <div class="team__img-container">
            <img src="{{ settings.team__member-img-3 | img_url: 'master' }}" class="team__img" alt="Imagen de miembro del equipo" loading="lazy" decoding=“async”>
        </div>

        <div class="team__desc-container">
            <span class="team__member-name">Diego Orellana</span>
            <span class="team__member-role">Ingeniero de software</span>
            <p class="team__member-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
            </p>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Nuestro Equipo",
    "tag": "section",
    "class": "team__container",
    "settings":[

    ]
}
{% endschema %}