<div class="nosotros__first-container">
    <div class="nosotros__img-desc-container">
        <div class="nosotros__img-container">
            <img src="{{ section.settings.nosotros-first-img | img_url: 'master' }}" class="nosotros__img" alt="">
        </div>

        <div class="nosotros__desc-container">
            <h3 class="nosotros__title">Our why</h3>
            <p class="nosotros__desc">
            We believe the more we travel, the better we all become. 
            That’s why our travel essentials are designed to last (and last)
            for every trip to come, so you can get out there and explore.
            </p>
        </div>
    </div>
</div>

<div class="nosotros__sec-container">
    <div class="nosotros__img-desc-container row-reverse">
        <div class="nosotros__img-container">
            <img src="{{ section.settings.nosotros-sec-img | img_url: 'master' }}" class="nosotros__img" alt="">
        </div>

        <div class="nosotros__desc-container">
            <h3 class="nosotros__title">Our why</h3>
            <p class="nosotros__desc">
            We believe the more we travel, the better we all become. 
            That’s why our travel essentials are designed to last (and last)
            for every trip to come, so you can get out there and explore.
            </p>
        </div>
    </div>
</div>

<div class="nosotros__third-container">
    <div class="nosotros__img-desc-container">
        <div class="nosotros__img-container">
            <img src="{{ section.settings.nosotros-third-img | img_url: 'master' }}" class="nosotros__img" alt="">
        </div>

        <div class="nosotros__desc-container">
            <h3 class="nosotros__title">Our why</h3>
            <p class="nosotros__desc">
            We believe the more we travel, the better we all become. 
            That’s why our travel essentials are designed to last (and last)
            for every trip to come, so you can get out there and explore.
            </p>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Nosotros",
    "tag": "section",
    "class": "nosotros__container",
    "settings": [
        {
            "type": "image_picker",
            "id": "nosotros-first-img",
            "label": "Nosotros First Img"
        },
        {
            "type": "image_picker",
            "id": "nosotros-sec-img",
            "label": "Nosotros second Img"
        },
        {
            "type": "image_picker",
            "id": "nosotros-third-img",
            "label": "Nosotros third Img"
        }
    ]
}
{% endschema %}