<div class="appear__title-container">
    <span class="appear__title">Hemos Aparecido En</span>
</div>

<div class="appear__all-logos-container">
    <div class="appear__logo-container">
        <img src="{{ section.settings.logo-1 | img_url: 'master'  }}" class="appear__logo" alt="logo de empresa de noticias" decoding=“async”>
    </div>

    <div class="appear__logo-container">
        <img src="{{ section.settings.logo-2 | img_url: 'master'  }}" class="appear__logo" alt="logo de empresa de noticias" decoding=“async”>
    </div>

    <div class="appear__logo-container">
        <img src="{{ section.settings.logo-3 | img_url: 'master'  }}" class="appear__logo" alt="logo de empresa de noticias" decoding=“async”>
    </div>

</div>

{% schema %}
{
    "name": "Appear Section",
    "tag": "section",
    "class": "appear__container",
    "settings": [
        {
            "type": "image_picker",
            "id": "logo-1",
            "label": "Logo noticias 1"
        },
        {
            "type": "image_picker",
            "id": "logo-2",
            "label": "Logo noticias 2"
        },
        {
            "type": "image_picker",
            "id": "logo-3",
            "label": "Logo noticias 3"
        }
    ]
}
{% endschema %}