<div class="nosotros__first-container">
    <div class="nosotros__img-desc-container">
        <div class="nosotros__img-container">
            <img src="{{ section.settings.nosotros-first-img | img_url: 'master' }}" class="nosotros__img" alt="Sobre nosotros imagen 1" decoding=“async”>
        </div>

        <div class="nosotros__desc-container">
            <h3 class="nosotros__title">Nuestra Visión</h3>
            <p class="nosotros__desc">
              Creemos que una antigüedad ubicada en el lugar correcto impulsa y mejora la decoración del hogar. 
              En Letelier nos encargamos de buscar por ti la antigüedad precisa que necesitas
            </p>
        </div>
    </div>
</div>

<div class="nosotros__sec-container">
    <div class="nosotros__img-desc-container row-reverse">
        <div class="nosotros__img-container">
            <img src="{{ section.settings.nosotros-sec-img | img_url: 'master' }}" class="nosotros__img" alt="Sobre nosotros imagen 2" decoding=“async”>
        </div>

        <div class="nosotros__desc-container">
            <h3 class="nosotros__title">Nuestra Historia</h3>
            <p class="nosotros__desc">
              hola
            </p>
        </div>
    </div>
</div>

<div class="nosotros__third-container">
    <div class="nosotros__img-desc-container">
        <div class="nosotros__img-container">
            <img src="{{ section.settings.nosotros-third-img | img_url: 'master' }}" class="nosotros__img" alt="Sobre nosotros imagen 3" loading="lazy" decoding=“async”>
        </div>

        <div class="nosotros__desc-container">
            <h3 class="nosotros__title">Nuestras Especialidades</h3>
            <p class="nosotros__desc">
              hola
            </p>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Nosotros",
    "tag": "section",
    "class": "nosotros__container",
    "settings": [
        {
            "type": "image_picker",
            "id": "nosotros-first-img",
            "label": "Nosotros First Img"
        },
        {
            "type": "image_picker",
            "id": "nosotros-sec-img",
            "label": "Nosotros second Img"
        },
        {
            "type": "image_picker",
            "id": "nosotros-third-img",
            "label": "Nosotros third Img"
        }
    ]
}
{% endschema %}