<img src="{{ settings.logo__head | img_url: 'master'}}" alt="" class="short__about-img" decoding=“async”>
<h1 class="short__about-title">
    {{section.settings.shortAbout__title}}
</h1>
<p class="short__about-p">
    {{section.settings.shortAbout__desc}}
</p>
<a href="https://letelier.art/pages/nosotros" target="_blank">
    <button class="short__about-btn button">
        {{section.settings.shortAbout__button-title}}
    </button>
</a>


{% schema %}
{
    "name": "Short about",
    "tag": "article",
    "class": "short__about-container",
    "settings":[
        {
            "type": "text",
            "id": "shortAbout__title",
            "label": "Short About home title"
        },
        {
            "type": "textarea",
            "id": "shortAbout__desc",
            "label": "Short About home desc"
        },
        {
            "type": "text",
            "id": "shortAbout__button-title",
            "label": "Short About home button title"
        }
    ]
}
{% endschema %}