<img src="{{ settings.logo__head | img_url: 'master'}}" alt="" class="short__about-img">
<h1 class="short__about-title">
LETELIER COMPRA Y VENTA DE ANTIGÜEDADES
</h1>
<p class="short__about-p">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
</p>
<button class="short__about-btn button">
SABER MAS
</button>

{% schema %}
{
    "name": "Short about",
    "tag": "article",
    "class": "short__about-container",
    "settings":[

    ]
}
{% endschema %}