<div class="sell__info-container">
    <h2 class="sell__section-title">
        Vende Tus Antigüedades
    </h2>
    <p class="sell__section-desc">
         ¡Escribenos para vender tus antigüedades!
      +569 84192433
    </p>
    <span class="sell__section-desc cta">
        Haz click y escribenos
    </span>

    <button class="sell__button button">Quiero Vender</button>
</div>
<div class="sell__img-container">
    <img src="{{ section.settings.sell | img_url: 'master' }}" alt="" class="sell__img">
</div>


{% schema %}
{
    "name":"vende",
    "tag": "article",
    "class": "sell__section",
    "settings":[
        {
            "type": "image_picker",
            "id": "sell",
            "label": "Sell image"
        }
    ]
}
{% endschema %}