<h2 class="sell__section-title">
    Vende Tus Antigüedades
</h2>
<p class="sell__section-desc">
    Tienes antigüedades que no quieres? En Letelier te compramos todo. 
</p>
<span class="sell__section-desc cta">
    Haz click y escribenos
</span>

<button class="sell__button button">Quiero Vender</button>


{% schema %}
{
    "name":"vende",
    "tag": "article",
    "class": "sell__section",
    "settings":[

    ]
}
{% endschema %}