<img src="{{ settings.logo__head | img_url: 'master'}}" alt="" class="short__about-img" loading="lazy" decoding=“async”>
<h3 class="short__sell-page-title">
    {{ section.settings.vender__about-title}}
</h3>
<p class="short__about-p">
    {{ section.settings.vender__about-desc}}
</p>

{% schema %}
{
    "name": "Short sell desc",
    "tag": "article",
    "class": "short__about-container",
    "settings":[
        {
            "type": "text",
            "id": "vender__about-title",
            "label": "Vender about Title"
        },
        {
            "type": "textarea",
            "id": "vender__about-desc",
            "label": "Vender about Desc"
        }
    ]
}
{% endschema %}