<span class="sell__contact-title">Contactate con nosotros</span>
<div class="sell__contact-desc-container">
    <p class="sell__contact-desc">Envíanos fotos de las antigüedades que quieras vender y te responderemos a la brevedad</p>
</div>

<div class="sell__contact-btn-container">
    <a href="">
        <button class="sell__contact-btn button">Escribenos Por WhatsApp</button>
    </a>
</div>


{% schema %}
{
    "name": "Vender form",
    "tag": "section",
    "class": "sell__form-container"
}
{% endschema %}