<h2 class="whyus__container-title">
    ¿Por que comprar en Letelier?
</h2>
<div class="whyus__reason">
    <i class="ri-24-hours-line reason__icon"></i>
    <h3 class="whyus__title">
        Reason number 1 title
    </h3>
    <p class="whyus__desc">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Ut corrupti pariatur necessitatibus distinctio at repudiandae aperiam enim excepturi, 
    </p>
</div>

<div class="whyus__reason">
    <i class="ri-24-hours-line reason__icon"></i>
    <h3 class="whyus__title">
        Reason number 1 title
    </h3>
    <p class="whyus__desc">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Ut corrupti pariatur necessitatibus distinctio at repudiandae aperiam enim excepturi,
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </p>
</div>

<div class="whyus__reason">
    <i class="ri-24-hours-line reason__icon"></i>
    <h3 class="whyus__title">
        Reason number 1 title
    </h3>
    <p class="whyus__desc">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Ut corrupti pariatur necessitatibus distinctio at repudiandae aperiam enim excepturi,
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    </p>
</div>


{% schema %}
{
    "name": "Why Us",
    "tag": "article",
    "class": "whyus__container",
    "settings":[
    ]
}
{% endschema %}