<h2 class="whyus__container-title">
    ¿Por que comprar en Letelier?
</h2>
<div class="reasons__container">
    <div class="whyus__reason">
        <i class="ri-truck-fill reason__icon"></i>
        <h3 class="whyus__title">
            Envío gratis y rapido
        </h3>
        <p class="whyus__desc">
            Tenemos envío gratis dentro de Santiago por compras sobre 50.000.
            Recibe tus antigüedades de forma rapida y segura
        </p>
    </div>

    <div class="whyus__reason">
        <i class="ri-money-dollar-circle-line reason__icon"></i>
        <h3 class="whyus__title">
            Sin riesgo
        </h3>
        <p class="whyus__desc">
            Poseemos garantía de satisfacción en la mayoría de nuestras antigüedades.
            Si por cualquier motivo no te sientes conforme con tu compra, comunicate con nosotros y te
            devolveremos tu dinero.
        </p>
    </div>

    <div class="whyus__reason">
        <i class="ri-search-line reason__icon"></i>
        <h3 class="whyus__title">
            Buscamos por ti
        </h3>
        <p class="whyus__desc">
            Llevamos años buscando en diferentes partes del mundo piezas diferenciadoras. 
            Si no encuentras lo que buscas, escribenos y te ayudaremos.
        </p>
    </div>
</div>



{% schema %}
{
    "name": "Why Us",
    "tag": "article",
    "class": "whyus__container",
    "settings":[
    ]
}
{% endschema %}