<h2 class="whyus__container-title">
    ¿Por que comprar en Letelier?
</h2>
<div class="reasons__container">
    <div class="whyus__reason">
        <i class="ri-truck-fill reason__icon"></i>
        <h3 class="whyus__title">
            Envío gratis y rapido
        </h3>
        <p class="whyus__desc">
            Tenemos envío gratis dentro de Santiago por compras sobre 50.000.
            Recibe tus antigüedades de forma rapida y segura
        </p>
    </div>

    <div class="whyus__reason">
        <i class="ri-24-hours-line reason__icon"></i>
        <h3 class="whyus__title">
            Reason number 1 title
        </h3>
        <p class="whyus__desc">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Ut corrupti pariatur necessitatibus distinctio at repudiandae aperiam enim excepturi,
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>

    <div class="whyus__reason">
        <i class="ri-24-hours-line reason__icon"></i>
        <h3 class="whyus__title">
            Reason number 1 title
        </h3>
        <p class="whyus__desc">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Ut corrupti pariatur necessitatibus distinctio at repudiandae aperiam enim excepturi,
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        </p>
    </div>
</div>



{% schema %}
{
    "name": "Why Us",
    "tag": "article",
    "class": "whyus__container",
    "settings":[
    ]
}
{% endschema %}